---
import Layout from "../layouts/Layout.astro";
import SelfProfileCard from "../components/SelfProfileCard.astro";
import { Lock, Users, Eye, Bell, Heart } from "@lucide/astro";
import Toggle from "../components/Toggle.astro";
import Friends from "../components/Friends.astro";
import { map } from "astro:schema";
import Voucher from "../components/Voucher.astro";

import FairPriceLogo from "../assets/brands/FairPrice.svg"

const profileData = [
  { text: "Display Name", placeholder: "Leon" },
  { text: "School Name", placeholder: "Singapore Institute of Technology" },
  { text: "Course", placeholder: "Information Technology" },
  { text: "Year of Study", placeholder: "Year 2" },
  { text: "Interests", placeholder: "Coding, hiking, music" },
  { text: "Preferred support style", placeholder: "Talk Buddy" },
];

const privacySettings = [
  {
    text: "General",
    items: [
      { icon: Lock, text: "Stay anonymous by default", isOn: true },
      { icon: Users, text: "Allow buddy matching", isOn: true },
      { icon: Eye, text: "Show my activity from Mood Wall", isOn: false },
      { icon: Bell, text: "Allow notifications", isOn: true },
    ],
  },
  {
    text: "After reveal",
    items: [
      { icon: Heart, text: "Allow friend requests", isOn: true },
      { icon: Eye, text: "Show course", isOn: false },
      { icon: Eye, text: "Show year of study", isOn: true },
    ],
  },
];

const vouchers = [
  { img: FairPriceLogo, offer: "$1 Off @ Cates", minSpend: 5, expiry: 10, points: 100 },
  { img: FairPriceLogo, offer: "$5 Off @ FairPrice", minSpend: 50, expiry: 10, points: 500 },
]

---

<Layout>
  <SelfProfileCard name="Leron" course="Information Technology", year="2" />
  <h2>Profile</h2>
  <div class="container">
    {
      profileData.map((item) => {
        const inputId = item.text.toLowerCase().replace(/\s+/g, "-");

        return (
          <>
            <label class="subtitle" for={inputId}>
              {item.text}
            </label>
            <input
              type="text"
              id={inputId}
              name={inputId}
              placeholder={"e.g. " + item.placeholder}
            />
          </>
        );
      })
    }
  </div>

  <h2>Privacy Settings</h2>
  <div class="container">
    {
      privacySettings.map((group) => (
        <div>
          {group.text && <h3 class="group-heading">{group.text}</h3>}

          <div>
            {group.items.map(({ icon: Icon, text, isOn }) => {
              const inputId = text.toLowerCase().replace(/\s+/g, "-");

              return (
                <div class="setting-row">
                    <Icon />
                    <label for={inputId}>{text}</label>
                    <Toggle class="setting-toggle" id={inputId} isOn={isOn}/>
                </div>
              );
            })}
          </div>
        </div>
      ))
    }
  </div>

  <!-- <Friends /> -->

  <a class="button warning sign-out-btn" href="/">Sign out</a>
</Layout>

<style>
.setting-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;

  .setting-toggle {
    margin-left: auto;
  }
}

.sign-out-btn {
  display: block;
  width: 100%;
  margin-top: 1.6em;
  text-align: center;
}
</style>