---
import { ArrowBigUp, MessageCircle } from "@lucide/astro"

interface Props {
    tag: string;
    title: string, 
    body: string,
    upvoteCount: number,
    commentCount: number,
    poster: string;
    disableLink?: boolean;
}

const { tag, title, body, upvoteCount, commentCount, poster, disableLink = false} = Astro.props;
const id = title.toLowerCase().replace(/\s+/g, "-");
const href="/post/" + encodeURIComponent(title);

---

<a class={"container post " + (disableLink ? "disable-link" : "")} href={href} transition:name={"post-" + id}>
    <div class="same-line">
        <span class="status-tag pill">{tag}</span>
        <span class="poster">u/{poster}</span>
    </div>
    <h3>{title}{disableLink}</h3>
    <p class="post-body">{body}</p>
    <div class="post-metadata">
        <ArrowBigUp /> 
        <span>{upvoteCount}</span>
        <MessageCircle /> 
        <span>{commentCount}</span>
    </div>

</a>

<style>
.post {
    display: block;
    margin-bottom: 0.8em;
    width: 100%;
    text-decoration: none;
    color: black;
}

.post-body {
    color: var(--muted-foreground);
}

.status-tag {
    margin-left: 0;
}

.poster {
    color: var(--muted-foreground);
    margin-left: auto;
    font-size: small;
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

.post-metadata {
    display: flex;
    align-items: center;
    margin-top: 0.4em;
    
    span {
        margin-right: 1em;
    }
}

</style>