---
import { ArrowBigUp, MessageCircle, Bookmark, Flag } from "@lucide/astro"

interface Props {
    tag: string;
    title: string, 
    body: string,
    upvoteCount: number,
    commentCount: number,
    author: string;
    disableLink?: boolean;
}

const { tag, title, body, upvoteCount, commentCount, author, disableLink = false} = Astro.props;
const id = title.toLowerCase().replace(/\s+/g, "-");
const href="/post/" + encodeURIComponent(title);

---

<a class={"container post " + (disableLink ? "disable-link" : "")} href={href} transition:name={"post-" + id}>
    <div class="same-line">
        <span class={"status-tag pill mood " + tag.toLowerCase()}>{tag}</span>
        <span class="author">u/{author}</span>
    </div>
    <h3>{title}</h3>
    <p class="post-body">{body}</p>
    <div class="post-metadata">
        <ArrowBigUp /> 
        <span>{upvoteCount}</span>
        <MessageCircle /> 
        <span>{commentCount}</span>

        <div class="side-icons">
            <Bookmark />
            <Flag />
        </div>
    </div>

</a>

<style>
.post {
    display: block;
    margin-bottom: 0.8em;
    width: 100%;
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 1em;
}

.post-body {
    color: var(--muted-foreground);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
}

.status-tag {
    margin-left: 0;
}

.author {
    color: var(--muted-foreground);
    margin-left: auto;
    font-size: small;
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

.post-metadata {
    display: flex;
    align-items: center;
    margin-top: 0.4em;
    color: var(--muted-foreground);
    
    span {
        margin-right: 1em;
    }
}

.side-icons {
    display: flex;
    gap: 0.8em;
    margin-left: auto;
}

</style>